* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /*background-image: url(img/3.jpg);*/
  background-size: cover;
  background-position: center;
  background-position: 1px -895px display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.home-info {
  background-color: rgba(220, 220, 220, .7);
  padding: 15px 30px;
  border-radius: 5px;
}

.title {
  color: #B10DC9;
  font-family: Skia;
  font-weight: normal;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.home-info>form {
  width: 100%;
  min-width: 300px;
}

.browse-all {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #333;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.browse-all:hover, .browse-all:focus {
  background-color: #666;
}

.browse-all:active {
  background-color: #fafafa;
  color: #333;
  border-color: #333;
}

.container {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  /*background-color: rgba(220, 220, 220, .8);*/
  /*padding: 15px 30px;*/
  padding: 0 0 30px 0;
  border-radius: 5px;
}

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 10px 30px;
  /*background-image: url('./img/4.JPG');*/
  background-position: 1px 40px;
}

.brand {
  font-family: Skia;
  font-weight: normal;
  color: #B10DC9;
  margin: 0;
}

.brand>a {
  color: #888;
  text-decoration: none;
}

.header-back {
  font-weight: normal;
  margin: 0;
}

.header-back>a {
  color: #aaa;
  text-decoration: none;
}

.search-input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.header+.video-info {
  margin-top: 25px;
}


/* MY ADDITIONAL CSS */

.widget {
  border: 1px solid #ddd;
  margin: 20px;
  float: left;
}

.widget h1 {
  font-size: 18px;
  color: #000066;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  padding: 10px;
  background-color: #FAF0E6;
}

.widgetBody {
  width: 300px;
  min-height: 200px;
  padding: 10px;
  background-color: #fff;
}

.widgetFooter {
  min-height: 50px;
  border-top: 1px solid #ddd;
  background-color: #FFFFF0;
  font-size: 14px;
  padding: 15px 10px;
  text-align: right;
}

.dateColumn {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eaeaea;
  color: #fff;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

a {
  color: #34495e;
}

#leftSide, #rightSide {
  width: 50%;
  float: left;
  text-align: left;
}

select {
  margin-left: 0px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.filterForm {
  width: 245px;
}

.fieldTitle {
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: top;
}


/*WRAPPER*/

#wrapper {
  margin: 40px auto 0;
  width: 266px;
  width: 100%;
  position: relative;
  padding-top: 30px;
}

#txt {
  color: #eaeaea;
}


/*WHEEL*/

#wheel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 8px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
  transform: rotate(0deg);
}

#wheel:before {
  content: '';
  position: absolute;
  /*border: 4px solid rgba(0, 0, 0, 0.1);*/
  width: 242px;
  height: 242px;
  border-radius: 50%;
  z-index: 1000;
}

#inner-wheel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 6s cubic-bezier(0, .99, .44, .99);
  -moz-transition: all 6 cubic-bezier(0, .99, .44, .99);
  -o-transition: all 6s cubic-bezier(0, .99, .44, .99);
  -ms-transition: all 6s cubic-bezier(0, .99, .44, .99);
  transition: all 6s cubic-bezier(0, .99, .44, .99);
}

#wheel div.sec {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 75px 0;
  border-color: #19c transparent;
  transform-origin: 75px 129px;
  left: 50px;
  top: -4px;
  opacity: 1;
}

#wheel div.sec:nth-child(1) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  border-color: #16a085 transparent;
}

#wheel div.sec:nth-child(2) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  border-color: #2980b9 transparent;
}

#wheel div.sec:nth-child(3) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  border-color: #34495e transparent;
}

#wheel div.sec:nth-child(4) {
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  border-color: #f39c12 transparent;
}

#wheel div.sec:nth-child(5) {
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  border-color: #d35400 transparent;
}

#wheel div.sec:nth-child(6) {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  border-color: #c0392b transparent;
}

#wheel div.sec .fa {
  margin-top: -100px;
  color: rgba(0, 0, 0, 0.2);
  color: #fff;
  position: relative;
  z-index: 10000000;
  display: block;
  text-align: center;
  font-size: 36px;
  font-size: 18px;
  margin-left: -15px;
  margin-left: -25px;
  /*text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;*/
}

#spin {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0 0 -34px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
  z-index: 1000;
  background: #fff;
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#spin:after {
  content: "SPIN";
  text-align: center;
  line-height: 68px;
  color: #CCC;
  text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100000;
  width: 68px;
  height: 68px;
  display: block;
}

#spin:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 28px 20px;
  border-color: transparent transparent #ffffff transparent;
  top: -12px;
  left: 14px;
}

#inner-spin {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  border-radius: 50%;
  background: red;
  z-index: 999;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

#spin:active #inner-spin {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

#spin:active:after {
  font-size: 15px;
}


/*ANIMATION*/

@-webkit-keyframes hh {
  0%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

@keyframes hh {
  0%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

.spin {
  -webkit-animation: hh 0.1s;
  /* Chrome, Safari, Opera */
  animation: hh 0.1s;
}


}
